.info-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  list-style: none;
  background-color: papayawhip;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.info-bar li {
  padding: 1em 2em 0 2em;
}

nav {
  margin-top: 110px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2em;
}

nav ul li a {
  text-decoration: none;
  color: rgb(61, 66, 71);
}

* {
  text-align: center;
}

h1 {
  color: gold;
}


.selected-border {
  border: 10px solid gold;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.info-bar {
  margin: 0;
  background-color: black;
  color: gold;
}